@media screen and (max-width: 576px) {
    .nav-bar, .nav, .header-container{
        flex-direction: column;
    }
    .header-info h1{
        font-size: 3rem;
        margin-bottom: 10px;
    }
    .header-info h3{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .btn-1, .btn-2{
        font-size: 1rem;
        padding: 5px 9px;
        margin-bottom: 10px;
    }

}