@media screen and (max-width: 576px) {
    .nav-bar, .nav, .header-container, .play-instantly{
        flex-direction: column;
    }
    .header-info h1{
        font-size: 3rem;
        margin-bottom: 10px;
    }
    .header-info h3{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .btn-1, .btn-2{
        font-size: 1rem;
        padding: 5px 9px;
        margin-bottom: 10px;
    }
    .online-games h2{
        font-size: 1.5rem;
    }
    .online-games p{
        font-size: 0.8rem;
    }
    .funny-videos{
        grid-template-columns: 1fr;
    }
    .play-container h3{
        font-size: 1.5rem;
    }
    .play-container p{
        font-size: 0.8rem;
        text-align: center;
        width: 100%;
    }
    .play-img img {
        width: 100%;
    
    }
    .play-img {
        width: 50%;
    }
    .play-img2 img {
        position: absolute;
        width: 50%;
        height: 50%;
        right: 130px;
        top: 130px;
    }
    .genre{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        justify-content: center;
        align-content: center;
        margin-top: -250px;
    }
    .games-type img{
        width: 20px;
        height: 20px;
    }
    .games-type{
        gap: 5px;
        padding: 3px;
    }

    
    .games-type p{
        font-size: 0.5rem;
    }

}